.Rproj.user
.Rhistory 
.RData
.Ruserdata
.Rdata
.Renviron
.httr-oauth
.DS_Store
.quarto


/temp_plots/
/personal-website/2024/temp/Week_41
/data_visualizations/TidyTuesday/2024/tt_2024_42_files/


# Test files
scrapt.*
theme-test.qmd
seo-test.qmd
test.qmd


# Quarto cache and files
*_cache/
**/*_cache/ 
*_files/
.quarto/
/.quarto/
/_site/

brand-test/