.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.Renviron
.httr-oauth
.DS_Store
.quarto

/.quarto/
/_site/
/temp_plots/
/personal-website/2024/temp/Week_41
/data_visualizations/TidyTuesday/2024/tt_2024_42_files/

scrapt.*
