[[plugins]]
package = "@quarto/netlify-plugin-quarto"
  [plugins.inputs]
  version = "latest"
  cmd = "render"

[build]
  publish = "_site"

[build.environment]
  QUARTO_DENO_ARGS = "--v8-flags=--max-old-space-size=12288"

[context.branch-deploy]
  command = "quarto render --to html --execute-daemon"